node_modules
# Keep environment variables out of version control
.env
README.md
/src/controllers/transaction/payment.js
/src/controllers/transaction/createTransactionOLD.js
/src/controllers/transaction/updateTransactionOLD.js

/src/routes/paymentRoute.js
/prisma/db_backup.sqlite
test.js